body { 
    background-color: darkred; 
}
footer {
    background-color: black;
    min-height: 50px;
    color: aliceblue;
    background-position: bottom;
}
header {
    background-color: chocolate;
    min-height: 100px
}       
    