body {
    background-repeat: no-repeat;
    background-image: url(bakgrund.jpeg);
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    margin:0;
}
header {
    background-color:white;
    width:100%;
    position:absolute;
    max-height: 150px;
}
header img {
    max-height: 100px;
    float:left;
    display: inline-block;
}
header nav a {
    text-decoration: none;
    display: inline;
    font-size: 100%;
    color: dimgray;
    padding: 0 0 25px 0;
    float:left;
    border-bottom: 2px solid white;
    
}
nav a:hover {
     color:red;
     border-bottom:2px solid red;
}
main {
    text-align: center; 
}
#info {
    display:none;
    background-color:rgba(255,255,255, 0.65);
    border: 2px dotted black;
    border-radius: 20px;
    text-align: left; 
    float:left;
    max-width: 60%;
    padding: 20px;
    font-size: 125%;
    margin: 0 0 0 10%;
}
#openinfo {
    cursor:pointer;
    margin-top: 25px;
    font-size: 175%;
    background-color:whitesmoke;
    border:2px solid black;
    border-radius: 10px;
}
#closeinfo{
    display: inline-block;
    cursor:pointer;
    margin-top: 25px;
    font-size: 175%;
    background-color:whitesmoke;
    border:2px solid black;
    border-radius: 10px;
}
#indexknapp {
    display:inline-block;
    float:left;
    
}
#bildtext {
    display:inline-block;
    margin-top: 200px;
}
figcaption {
    display: block;
}
#neon {
    display: inline-block;
    max-width: 200px;
}