body {
    margin:0;
    background-color: antiquewhite; 
}

header{
    padding: 2px 0 15px 15px;
    background: linear-gradient(#ff2000, rgb(100,0,50));
}

footer{
    border-top:2px dashed #444;
    background: linear-gradient(#ff2000, rgb(40,0,150));
    padding:20px;
}
 main{
    font-size:120%;
}
nav {
    display:inline-block;
    font-family:monospace;
    font-size: 24px;
    padding-bottom: 15px;
    
}

nav a {
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px;
    margin: 1px;
    color: antiquewhite;
    box-shadow: 2px 4px 4px black;
    display: inline-block;
    background-color: darkred
    
    
}
nav a:hover {
    box-shadow: 1px 2px 4px black;
    
}
nav img{
    width: auto;
    height: 64px;
    
}
form {
    display: inline-block;
    padding: 0 0 15px 300px;
    
}
section {
    display: inline-block;
    max-width: 50px;
}
main#indexmain {
    height: 700px;
}
.dropdown {
    position:relative;
    display: inline-block;
}

.dropdown-content {
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    margin: 1px;
    color: antiquewhite;
    box-shadow: 10px 20px 75px black;
    background-color: darkred;
    display:none;
    position: absolute;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}
.dropdown-content a {
    display: block;
    margin:10px 0 10px 0;
}