body {
    display:flex;
    min-height: 100vh;
    flex-direction: column;
    margin:0;
    background: url("Platsax.png") right top no-repeat;
    background-size: 300px;
    border-right:5px solid black;
    background-color: aliceblue;
    
}

header{
    padding:20px;
    background: linear-gradient(#ff2000, rgba(40,40,64,0.8));
}

footer{
    border-top:2px dashed #444;
   background: linear-gradient(#ff2000, rgba(40,40,64,0.8));
    padding:20px;
}
    main{
        background-size: 25%;
        font-size:120%;
} 
    table {
        background-color: beige;
        font-family: arial;
        padding-left: 3px;
        text-align: center;
        
}
    th {
        color:blue;
        padding: 7px;
        border-bottom: 2px solid blue;
        
}
    td {
        border-bottom: 1px solid black;
}
    tfoot {
        background-color: aqua;
}
    em {
        font-size: 120%;
}
nav {
    display:inline-block;
    font-family:monospace;
    font-size: 24px;
    padding-bottom: 20px;
}
    
