body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin:0;
    background: url("img/ranka.svg") right top no-repeat;
}

header{
    padding:20px;
    background: linear-gradient(#fff, rgba(40,40,64,0.8));
    border-bottom:2px dashed #444;
}

main {
    flex: 1;
    padding: 20px;
    /*background: #FFE1F9 url("img/ranka.svg") right top no-repeat;*/
    background: radial-gradient(circle, rgba(26,130,245,0.8), rgba(40,40,64,0.8));
    color:#fff;
    font-size: 1.4em;
}
main a{
    color:#fff;
    text-decoration: none;
    border-bottom:1px dotted #fff;
}

footer{
    border-top:2px dashed #444;
    background: linear-gradient(rgba(40,40,64,0.8), #eee);
    padding:20px;
}

@media screen and (max-width: 800px){
    main{
        background-size: 25%;
        font-size:120%;
    }
    
}