body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin:0;
    background: url("Platsax.png") right top no-repeat;
}

header{
    padding:20px;
    background: linear-gradient(#ff2000, rgba(40,40,64,0.8));
    border-bottom:2px dashed #444;
}

main a{
    color:#fff;
    text-decoration: none;
    border-bottom:1px dotted #fff;
}

footer{
    border-top:2px dashed #444;
    background: linear-gradient(rgba(40,40,64,0.8), #ee);
    padding:20px;
}

@media screen and (max-width: 800px){
    main{
        background-size: 25%;
        font-size:120%;
    }
    
}