body {
    background-color: #CCCCFE;
    font-family:sans-serif;
    max-width: 1000px;
    padding: 0 216px;
}
img {
    max-width: 300px
}
header {
    background-color: #BAAAFD;
    font-weight: 900;
}
header h1 {
    background-color: #7D50FC;
    color: white;
}
header p {
    font-size: 119%
}