section {
    max-width: 49%;
    min-width: 320px;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    vertical-align: top;    
    padding: 0 20px 10px;
    min-height: 620px;
    text-align: center;
}

section#one{
    background-color: antiquewhite;
    
}
section#two{
    background-color: burlywood;
}

html {
   box-sizing: border-box;
}
*, *:before, *:after {
   box-sizing: inherit;
}
header {
    text-align: center;
    font-family: fantasy;
    font-size: 150%
}